.DS_Store
Thumbs.db
db.json
*.log
node_modules/
.deploy*/

themes/aircloud/.DS_Store
themes/aircloud/Thumbs.db
themes/aircloud/db.json
themes/aircloud/*.log
themes/aircloud/node_modules/
themes/aircloud/public/
themes/aircloud/.deploy*/
themes/aircloud/unuse/
rthemes/aircloud/eadme-private.md